.browse-head{
    text-align: center;
}
.search-bar {
    text-align: center;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.book-card {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px); 
    max-width: 300px;
    text-align: center;
}

.book-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
  
.book-card p {
    margin: 5px 0;
}
  
.view-details {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}
  
.view-details:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .book-card {
      width: 100%; 
    }
}

@media (max-width: 480px) {
    .book-card {
      width: 100%; 
    }
}
  